* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 160%;
  user-select: none;
  font-size: 14px;
  line-height: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}